*{
  margin: 0;
  padding: 0;
  cursor: default;
}
body {
  display: flex;
}
#randomButton {
  z-index: 3;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  left: 45%;
  top: 200px;
  width: 150px;
  height: 150px; 
  border-radius: 50%;
  background-color: turquoise;
  color: white;
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 27px;
}

#timer {
  position: absolute;
  top: 30px;
  right: 70px;
  font-size: 24px;
  font-weight: 700;
}

#reset {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 70px;
  font-size: 24px;
  font-weight: 700;
}

#top-score {
  position: absolute;
  bottom: 30px;
  right: 70px;
  font-size: 24px;
  font-weight: 700;
}
